@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap");

@import "swiper/swiper-bundle.min.css";

.active {
  background: linear-gradient(to right, #60a5fa, #4fd1c5);
  color: #37474f;
}

:root {
  --primary-bg-color: white;
  --primary-text-color: black;
  --secondary-bg-color: #f0f0f0;
}

[data-theme="dark"] {
  --primary-bg-color: #121212;
  --primary-text-color: white;
  --secondary-bg-color: #1d1d1d;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: "Arial", sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

button {
  background-color: var(--primary-text-color);
  color: var(--primary-bg-color);
  transition: background-color 0.3s, color 0.3s;
}
